.calendarP{
    margin:0px;
    text-align: center;
    color:#108094;
}
.dateP{
    font-size:11px;
}
label{
    display: none;
}
.week{
    font-weight: bold;
}
.noProduct{
    position: absolute;
    margin-left: 270px;
    margin-top:40px;
}